.about__title{
    font-size: 4rem;
    color: var(--color-white);
}

.about__container{
    margin-top: 1.6rem;
    display: flex;

    .about__me{
        .about__me--image{
            width: 100%;
            
        }
    }
    .about__info{
        .about__info--title{
            font-size: 2.4rem ;
            color: var(--color-white)
        }

        .about__content{
            .about__list{
                list-style: none;
            }

            .about__list--item{
                font-size:1.8rem;
                margin: 0.8rem;
                display: flex;
                align-items: center;
                .about__mail{
                    color:#fff;
                }
            }
            .about__action{
                margin-top:1.6rem;
                margin-left:1.6rem;
                .about__action--cv{
                    padding:1rem 3rem;
                    background:#000;
                    border-radius: 10rem;
                    transition: all 0.25s;
                    font-size: 1.6rem;
                    box-shadow: 1px 1px 10px 1px;
                    &:hover{
                        opacity:0.7 ;
                    }
                }
            }
        }
    }
}